name: Add to Project

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        id: add-project
        with:
          project-url: https://github.com/users/lbijeau/projects/2
          github-token: ${{ secrets.PROJECT_TOKEN }}

      - uses: titoportas/update-project-fields@v0.1.0
        with:
          project-url: https://github.com/users/lbijeau/projects/2
          github-token: ${{ secrets.PROJECT_TOKEN }}
          item-id: ${{ steps.add-project.outputs.itemId }}
          field-keys: Status
          field-values: Backlog

